:root {
    --accentcolor1: #08A6E4;
    --accentcolor2: #55DFB4;
    --accentcolor3: #EB476E;
    --bgrcolor1: #fff;
    --bgrcolor2: #F7F7F7;
    --bgrhovercolor1: rgb(221, 226, 230);
    --fontcolor1: #707070;
    --fontcolor2: #fff;
    --fontfamily1: 'Raleway', sans-serif;
    --fontfamily2: 'Open Sans', sans-serif;
    --placeholdercolor1: #A5A5A5;
    --shadowcolor1: rgba(8, 166, 228, 0.445);
    --shadowcolor2: #EB476E29;
}
* {
    box-sizing: border-box;
}
body {
    background: var(--bgrcolor2);
}
a {
    text-decoration: none;
    color: inherit;
}
/***********************************************/
header,
main {
    max-width: 875px;
    margin: 0 auto;
}
header {
    margin-top: 93px;
    margin-bottom: 52px;
}
h1 {
    font-size: 2.25rem;
    font-family: var(--fontfamily1);
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
}
/**********************/
.form-section {
    width: 440px;
    margin-right: 15px;
}
form * {
    font-family: var(--fontfamily2);
    font-size: 0.81rem;
}
input,
#set-package {
    width: 100%;
    height: 40px;
    border: 1px solid var(--accentcolor1);
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#set-package {
    background: var(--bgrcolor1);
    padding-right: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    input::placeholder,
    #set-package__placeholder {
        color: var(--placeholdercolor1);
    }
    input:focus {
        outline: 0;
        box-shadow: 0 0 5px 1px var(--shadowcolor1);
    }
    /* Wyłączenie strzałek w inputach typu number (odtąd do komentarza z gwiazdkami) - użycie strzałek z inputa zamiast cyfry z klawiatury sprawia, że JS szwankuje */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
/**********************/
#set-package--menu {
    width: 100%;
    list-style: none;
    background: var(--bgrcolor1);
    color: #222;
    border: 1px solid var(--accentcolor3);
    border-radius: 6px;
    box-shadow: 0 3px 6px var(--shadowcolor2);
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 1;
    display: none;
}
.set-package--menu-item {
    padding: 10px 20px;
}
    .set-package--menu-item:hover {
        background: var(--bgrhovercolor1);
    }
    .set-package--menu-item:first-of-type:hover {
        border-radius: 6px 6px 0 0;
    }
    .set-package--menu-item:last-of-type:hover {
        border-radius: 0 0 6px 6px;
    }
/**********************/
.accounting-checksection,
.rental-checksection {
    width: 125px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.rental-checksection {
    width: 210px;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--bgrcolor1);
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 0;
    transform: translateY(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}
    input[type="checkbox"]:hover {
        background: var(--bgrhovercolor1);
    }
    input[type="checkbox"]:checked::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('../assets/Checkmark.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
.accounting-text,
.rental-text {
    font-size: 0.75rem;
    padding-top: 5px;
}
/***********************************************/
.calculate-section {
    width: 385px;
    font-family: var(--fontfamily2);
    font-size: 0.875rem;
    color: var(--fontcolor2);
    display: flex;
    flex-direction: column;
}
.details {
    height: 190px;
    margin-bottom: 22px;
}
#products,
#orders,
#package,
#accounting,
#terminal {
    height: 31px;
    background: var(--accentcolor2);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 8px;
}
.title,
#prod-calc,
#ord-calc,
#pack-calc,
#prod-sum,
#ord-sum,
#pack-sum,
#acc-sum,
#term-sum {
    display: flex;
    align-items: center;
}
.title {
    padding-left: 20px;
}
#prod-calc,
#ord-calc,
#pack-calc {
    justify-content: center;
}
#prod-sum,
#ord-sum,
#pack-sum,
#acc-sum,
#term-sum {
    padding-right: 20px;
    justify-content: flex-end;
    font-size: 1.12rem;
    font-weight: 600;
}
/**********************/
.total {
    width: 180px;
    height: 38px;
    background: var(--accentcolor1);
    padding: 0 19px 0 15px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
}
#total-price {
    font-size: 1.11rem;
    font-weight: 600;
}