:root {
    --accentcolor1: #08A6E4;
    --accentcolor2: #FB3B64;
    --accentcolor3: #55DFB4;
    --accentcolor4: #07ACE6;
    --bgrcolor1: #fff;
    --bgrcolor2: #f7f7f7;
    --fontcolor1: #000;
    --fontcolor2: #A5A5A5;
    --fontcolor3: #fff;
    --fontfamily1: 'Raleway', sans-serif;
    --fontfamily2: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    color: var(--fontcolor1);
}
.container {
    max-width: 1352px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
/***********************************************/
nav {
    width: 100%;
    background: var(--bgrcolor1);
    box-shadow: 0 3px 6px #00000029;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/**********************/
.nav__logo {
    color: var(--accentcolor1);
    font-size: 2rem;
    font-family: var(--fontfamily1);
}
.menu {
    font-family: var(--fontfamily2);
    font-size: 0.7rem;
    font-weight: 700;
    display: flex;
}
.menu__item {
    margin-left: 70px;
    text-transform: uppercase;
    padding: 28px 3px;
}
.menu__link {
    color: var(--fontcolor2);
    padding: 28px 13px;
    position: relative;
}
    .menu__link:hover {
        color: var(--fontcolor1);
        transition: 0.2s;
    }
.menu__link--selected {
    color: var(--fontcolor1);
}
    .menu__link--selected::after,
    .menu__link:hover::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: var(--accentcolor1);
        position: absolute;
        bottom: 0;
    }
/***********************************************/
header {
    width: 100%;
    background-image: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}
header .container {
    height: 912px;
}
header .content {
    padding-top: 208px;
    font-family: var(--fontfamily2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**********************/
.header__title {
    font-family: var(--fontfamily1);
    font-size: 3.1rem;
    margin-bottom: 20px;
}
.header__title--second {
    margin-bottom: 38px;
}
.header__button {
    display: block;
    padding: 24px 157px;
    background: var(--accentcolor1);
    border-radius: 40px;
    border: 2px solid #fff;
    font-weight: 700;
    color: var(--fontcolor3);
}
    .header__button:hover {
        border: 2px solid var(--accentcolor1);
        color: var(--accentcolor1);
        background: var(--bgrcolor1);
        transition: 0.2s;
    }
    .header__button:active {
        box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, .5);
    }
/***********************************************/
section {
    width: 100%;
    background: var(--bgrcolor1);
}
section .container {
    font-family: var(--fontfamily1);
}
/**********************/
.section__title {
    margin-top: 106px;
    margin-bottom: 100px;
    font-size: 2.25rem;
    text-align: center;
}
.section__icons-block {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
}
.section__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .icon__img-block {
        height: 63px;
        margin-bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
        .icon__img-block::before,
        .icon__img-block--b::before,
        .icon__img-block--c::before {
            content: '';
            display: block;
            width: 63px;
            height: 63px;
            background: var(--accentcolor2);
            border-radius: 50%;
            position: absolute;
            z-index: 0;
            transform: translateX(-9px);
        }
        .icon__img-block--b::before {
            background: var(--accentcolor1);
        }
        .icon__img-block--c::before {
            background: var(--accentcolor3);
        }
    .icon__img-block__img,
    .icon__img-block__img--b,
    .icon__img-block__img--c {
        height: 52px;
        position: relative;
        z-index: 1;
        transform: translate(14px, -3px);
    }
    .icon__img-block__img--b {
        height: 36px;
        transform: translateX(14px);
    }
    .icon__img-block__img--c {
        height: 48px;
        transform: translateX(14px);
    }
    .icon__title {
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 6px;
        margin-bottom: 22px;
    }
    .icon__text {
        width: 130px;
        font-size: 1.06rem;
        color: var(--fontcolor2);
        line-height: 1.2rem;
        text-align: center;
    }
/***********************************************/
main {
    background: var(--bgrcolor2);
}
main .container {
    max-width: 1124px;
    padding: 105px 0;
}
article {
    width: 100%;
    height: 370px;
    background: var(--bgrcolor1);
    margin-bottom: 37px;
    padding: 36px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-article {
    display: flex;
    justify-content: space-between;
}
.last-article article {
    width: 623px;
    margin-bottom: 0;
}
.article__text-block {
    max-width: 420px;
}
.article__text-block--b {
    max-width: 100%;
}
.article__text-block__title {
    font-family: var(--fontfamily1);
    font-size: 2.25rem;
    margin-bottom: 30px;
}
.article__text-block__title--b {
    width: 250px;
}
.article__text-block__title--c {
    width: 350px;
}
.article__text-block__text {
    font-family: var(--fontfamily2);
    line-height: 1.4rem;
    margin-bottom: 50px;
    position: relative;
}
    .article__text-block__text::after,
    .article__text-block__text--b::after,
    .article__text-block__text--c::after {
        content: '';
        display: block;
        width: 328px;
        height: 3px;
        background: var(--accentcolor2);
        position: absolute;
        left: 0;
        bottom: -50px;
    }
    .article__text-block__text--b::after {
        background: var(--accentcolor1);
    }
    .article__text-block__text--c::after {
        background: var(--accentcolor3);
    }
.article__img-block {
    width: 470px;
    position: relative;
}
.last-article__img-block {
    width: 440px;
    background: var(--accentcolor3);
    border-radius: 5px;
    position: relative;
}
.article__img-block__img,
.article__img-block__img--b {
    height: 219px;
    margin-top: 75px;
    position: relative;
    z-index: 1;
}
.article__img-block__img--b {
    height: 328px;
    margin-top: 1px;
    left: 32px;
}
.last-article__img-block__img {
    height: 208px;
    position: absolute;
    top: 98px;
    left: 62px;
}
.article__img-block__polygon {
    width: 200px;
    height: 200px;
    background: var(--accentcolor2);
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 0;
}
.article__img-block__circle {
    width: 320px;
    height: 320px;
    background: var(--accentcolor4);
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 24px;
    z-index: 0;
}
/***********************************************/
