.calculate-section {
    width: $calculate-section-width;
    font-family: $fontfamily2;
    font-size: $calculate-font-size-standard;
    color: $fontcolor2;
    display: flex;
    flex-direction: column;
}