main {
    background: $bgrcolor2;

    .container {
        max-width: $narrow-container-width;
        padding: 105px 15px;
    }
}

article {
    width: 100%;
    height: 370px;
    background: $bgrcolor1;
    margin-bottom: 37px;
    padding: 36px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-article {
    display: flex;
    justify-content: space-between;

    article {
        width: 623px;
        margin-bottom: 0;
    }
}

.article__text-block {
    max-width: 420px;
}

.article__text-block--b {
    max-width: 100%;
}

.article__text-block__title {
    font-family: $fontfamily1;
    font-size: 2.25rem;
    margin-bottom: 30px;
}

.article__text-block__title--b {
    @extend .article__text-block__title;
    width: 250px;
}

.article__text-block__title--c {
    @extend .article__text-block__title;
    width: 350px;
}

.article__text-block__text,
.article__text-block__text--b,
.article__text-block__text--c {
    font-family: $fontfamily2;
    line-height: 1.4rem;
    margin-bottom: 50px;
}

.article__text-block__line,
.article__text-block__line--b,
.article__text-block__line--c {
    max-width: 328px;
    height: 3px;
    background: $accentcolor2;
}

.article__text-block__line--b {
    background: $accentcolor1;
}

.article__text-block__line--c {
    background: $accentcolor3;
}

.article__img-block {
    width: 470px;
    position: relative;
    transform: scale(0.9);

    @include desktop {
        transform: scale(1.0);
    }
}

.last-article__img-block {
    width: 440px;
    background: $accentcolor3;
    border-radius: 5px;
    margin-left: 30px;
    position: relative;
    display: flex;
    justify-content: center;

    @include desktop {
        margin-left: 60px;
    }
}

.article__img-block__img {
    height: 219px;
    margin-top: 75px;
    position: relative;
    z-index: 1;
}

.article__img-block__img--b {
    @extend .article__img-block__img;
    height: 328px;
    margin-top: 1px;
    left: 12px;

    @include desktop {
        left: 32px;
    }
}

.last-article__img-block__img {
    height: 208px;
    position: absolute;
    top: 98px;
    transform: translateX(-20px) scale(0.9);

    @include desktop {
        transform: translateX(0px) scale(1.0);
    }
}

.article__img-block__polygon {
    width: 200px;
    height: 200px;
    background: $accentcolor2;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 20px;
    left: 210px;
    z-index: 0;
}

.article__img-block__circle {
    width: 320px;
    height: 320px;
    background: $accentcolor4;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 4px;
    z-index: 0;

    @include desktop {
        left: 24px;
    }
}